body{
  background-color: #19171c;
}

.fixed-nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: #512A80;
}

span{
  font-size: 30px;
  padding: 22px 23px;
  text-align: center;
  float: right;
  display: block;
}

.images{
  position: absolute;
  right: 0;
  display:block;
  float: left;
}

img{
  float: left;
  padding: 10px;
  text-align: center;
  position: relative;
  right: 0;
}

img:hover{
  cursor: pointer;
}

#twitchLogo{
  font-family: 'Dimitri Swank';
  color: #FFFFFF;
  float: left;
  display: block;
}

#twitchLogo:hover{
  cursor: pointer;
}

.container{
  position: relative;
  padding-top: 60px;
  height: 100%;
  width: 60%;
  margin: auto;
  border: none;
}



.streamerOnline{
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #A154FF;
  border-top-color: #FFFFFF;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.streamerOfline{
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #281540;
  border-top-color: #FFFFFF;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.profileLogo{
  margin-top: 3.2px;
  margin-left: 3.2px;
  left: 0;
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  z-index: 2;
}

.streamerBackground{
  left: 0;
  position: absolute;
  width: 335px;
  height: 117px;
}

.name{
  left: 126px;
  top: 17px;
  position: absolute;
  font-family: 'Dimitri Swank';
  text-decoration: none;
  color: #ffffff;
}

.name:hover{
  text-decoration: underline;
}

.type{
  top: 81px;
  left: 126px;
  position: absolute;
  font-family: 'Helvetica';
  color: #ffffff;
}

.streamStatus{
  top: 45px;
  left: 130px;
  position: absolute;
  font-family: 'Helvetica';
  color: #ffffff;
}

.gamePlayed{
  top: 60px;
  left: 400px;
  position: absolute;
  font-family: 'Helvetica';
  color: #ffffff;
}
